@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #f28a10;
  --f7-theme-color-rgb: 242, 138, 16;
  --f7-theme-color-shade: #ce740b;
  --f7-theme-color-tint: #f49d37;
}

/* Your app custom styles here */

body {
  font-family: "Montserrat", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

*::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #f28a10;
}

*::selection {
  color: white;
  background: #f28a10;
}

.sheet-modal.modal-in {
  border-radius: 2rem 2rem 0 0;
}

.react-contextmenu {
  display: flex;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #373a3c;
  font-size: 16px;
  min-width: 160px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 10px;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 10px;
  text-align: inherit;
  white-space: nowrap;
  border-radius: 10px;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: ##000;
  background-color: #eee;
  border-color: #eee;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
  display: none;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.page {
  transition: background 0.3s ease-in-out;
}
